@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
/*tiny5  or tiny5-regular*/
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Tiny5&display=swap');
/*honk*/

* {
    font-family: tiny5;
}

body {
    background-color: beige;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    background-color: rgb(215, 159, 84);
    height: 80;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header img {
    width: 150px;
}

main {
    grid-area: main;
    background: url("https://i.imgur.com/naIsXxo.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

button:hover {
    cursor: pointer;
    border-width: 3px;
}


#displays {
    width: 100vh;
    height: 220px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.display {
    height: 100px;
    width: 90px;
    font-size: 70px;
    text-transform: uppercase;
    color: #ffffff;
    -webkit-text-stroke: 2px #ff5a5a;
    /* I got the text stroke idea from stack overflow  https://stackoverflow.com/questions/2570972/css-font-border*/
    border-bottom: 5px solid rgb(0, 0, 0);
    margin-bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


#wrong-letters {
    max-width: 180px;
    flex-wrap: wrap;
}

#wrong-letters h3 {
    text-align: center;
}

#wrong-letters ul {
    list-style: none;
    padding-left: 0;
}

#wrong-letters ul li {
    display: inline;
    font-size: 20px;
    text-transform: uppercase;
}


#instructions {
    position: absolute;
    background-color: rgb(215, 159, 84);
    height: 270px;
    width: 430px;
    top: 33%;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    border-radius: 40px;
    text-align: center;
}

#instructions p {
    font-size: large;
}

#instructions button {
    background-color: #fc3f3f;
    border-radius: 7px;
    height: 70px;
    width: 150px;
    font-size: 32px;
    padding: 16px;
    margin: 0;
}

#home-screen {
    position: absolute;
    top: 19%;
    text-align: center;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Sean helped me with this */


#home-screen h1 {
    font-family: honk;
    font-size: 8vw;
    line-height: 100px;
    text-align: center;
    animation: blink 1s 3 alternate;
}

#home-screen button {
    background-color: #fc3f3f;
    border-radius: 7px;
    height: 85px;
    width: 200px;
    font-size: 32px;
    padding: 16px;
    margin: 0;
}

#input-popup {
    position: absolute;
    background-color: rgb(215, 159, 84);
    height: 300px;
    width: 350px;
    top: 33%;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    border-radius: 40px;
    text-align: center;
}

#input-popup input {
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    height: 110px;
    width: 110px;
}

#input-popup button {
    background-color: #fc3f3f;
    border-radius: 7px;
    font-size: 25px;
    height: 50px;
    width: 130px;
    margin-top: 20px;
}

#end-graphics {
    position: absolute;
    font-size: 40px;
    background-color: rgb(215, 159, 84);
    line-height: 50px;
    height: 250px;
    width: 415px;
    top: 33%;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    border-radius: 40px;
    text-align: center;
    ;
}

#end-graphics-text {
    text-align: center;
    animation: blink 1s 3 alternate;
}

#end-graphics button {
    background-color: #fc3f3f;
    border-radius: 7px;
    height: 70px;
    width: 150px;
    font-size: 23px;
    padding: 16px;
    margin: 0 10px;
}


.background-alt {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px 0 0 0;
}

/* This was to make the img tag for the background image not apear on the screen. Learned from stack overflow. */


/* keep at the bottom  */
.toggle {
    display: none;
}